.ExpenseItem__row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-self: flext-start;
    /* margin: 0 auto; */
    padding: 5px 0;
    font-size: 1.5rem;
}

.ExpenseItem__btn {
    font-size: 1.5rem;
    background: transparent;
    border: 0;
}

.timesIcon {
    font-size: 2rem;
    border: transparent;
    margin-top: 2px
}

.items {
    margin: 0 1rem;
} 

.exp-extra {
    color: #ff5033;
} 


