.ExpenseItem__row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-self: flext-start;
    /* margin: 0 auto; */
    padding: 5px 0;
    font-size: 1.5rem;
}

.ExpenseItem__btn {
    font-size: 1.5rem;
    background: transparent;
    border: 0;
}

.ExpenseItem__btn:hover {
   font-weight: 900;
    color: blue;
    transform: translateY(-2px);
    cursor: pointer;
}

.timesIcon {
    font-size: 2rem;
    border: transparent;
    margin-top: 2px
}

.items {
    margin: 0 1rem;
} 

.exp-extra {
    color: #ff5033;
} 


@media only screen and (min-width: 37.5em) and (max-width: 56.25em) {
    .ExpenseItem__row {
        margin: 0 1rem;
    }
}

@media only screen and (min-width: 56.25em) and (max-width: 75em) {
    .ExpenseItem__row {
        margin: 0 2rem;
    }
}

@media only screen and (min-width: 75em) and (max-width: 105em) {
    .ExpenseItem__row {
        margin: 0 2rem;
    }
}