.IncomeItem {
    display: flex;
    justify-content: space-evenly;
    margin: 0 auto;
    padding: 5px 0;
}

.timesIcon {
    font-size: 2rem;
    border: transparent;
    margin-top: 2px
}

.items {
    margin: 0 1rem;
}
