.IncomeItem__row {
    display: flex;
    justify-content: space-between;
    align-self: flex-start;
    margin: 0 auto;
    padding: 5px 0;
    font-size: 1.5rem;
}


.IncomeItem__description {
    font-size: 1.5rem;
    background: transparent;
    border: 0;
    cursor: pointer;
}

.IncomeItem__description:hover {
    font-weight: 900;
    color: blue;
    transform: translateY(-2px);
}

.items {
    margin: 0 1rem;
}

.itm-extra {
    color: #4c924c;
}