h5 {
    text-transform: uppercase;
    text-align: center;
    padding: 2rem 1rem;
    font-size: 2rem;
    font-weight: 900;
}

p {
    text-indent: 5%;
    text-align: justify;
    text-justify: inter-word;
    padding: 3rem 3rem; 
}