.FormLogin {
    margin-top: 12rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    background-color: grayscale;
    width: 100%;
    padding: 3rem;
}

h1 {
    text-transform: uppercase;
    margin-bottom: 2rem;
}

input {
    border: 1px solid #ddd;
    display: block;
    font-size: 2rem;
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 4px;
}

.password {
    align-items: center;
    margin-bottom: 4rem;
}

.btn-logcel {
    display: row;
    justify-content: space-around;
    border: 1px solid #aaa;
    background-color: #eee;
    font-size: 2rem;
    border-radius: 4px;
    padding: .5rem;
    font-weight: 600;
    cursor: pointer;
    box-shadow: 5px 5px #888888;
    margin: 1.5rem; 

}
