.FormLogin {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    background-color: var(--color-primary-dark);
    width: 100%;
    padding: 3rem;
}

h1 {
    text-transform: uppercase;
    margin-bottom: 2rem;
}
.SignUp {
    margin-top: 15rem;
    margin-bottom: 3.5rem;
    align-items: center;
    justify-content: center;
}


input {
    border: 1px solid #ddd;
    display: block;
    font-size: 2rem;
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 4px;
}

.password {
    align-items: center;
    margin-bottom: 4rem;
}

.btn{
  border: 1px solid #aaa;
  background-color: #eee;
  font-size: 2rem;
  border-radius: 4px;
  padding: 8px 2rem;
  font-weight: 900;
  width: 60%;
  cursor: pointer;
  box-shadow: 5px 1rem #888888;
}

.btn-sub-sign {
    text-align: center;

}