.Header {
    display: -webkit-flex;
    display: flex;
    align-self: center;
    justify-content: flex-end;
    text-decoration: none;
    background-color: darkgray;
    padding: 0 2rem;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    overflow: hidden;
}

img {
    height: 6rem;
    width: 6rem;
}

.Header:hover{
    cursor: pointer;
}
#navlogo {
    margin-top: 1rem;
    margin-right: auto;
}

#navregister {
    padding-left: 1rem;
}

.Header__not-logged-in {
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: flex-end;
  }

.Header__not-logged-in a:last-child {
    background: var(--color-primary-dark);
    color: black;
    padding: 5px 1rem;
    border-radius: 1rem;
    margin-left: .9rem;
    font-weight: 700;
}

.Header a {
    color: #444;
    text-decoration: none;
}

.Header__logged-in a {
    border: 1px solid rgba(0, 0, 0, 0.25);
    padding: 5px 15px;
    border-radius: 15px;
}

.log-reg {
    font-size: 2rem;
    font-weight: 400;
}

.log-reg a:hover {
    cursor: pointer;
    color: var(--font-expense);
}

.log-out {
    /* margin-top: -8px; */
    text-decoration: underline;
    align-self: center;
    font-size: 2rem;
    font-weight: 900;
    color: white;
}

.log-out a:visited:hover {
    cursor: pointer;
    color: white;
}

.log-out a:link:active, a:visited:active {
    text-decoration: underline;
}

.welcome {
    float: left;
}
