.start {
    display: block;
    text-align: center;
    font-size: 3rem;
    font-weight: 900;
}

#BalanceIncome {
    display: flex;
    justify-content: space-between;
    padding: 0 1rem;
    border: 1px solid rgba(0, 0, 0, 0.25);
    border-radius: 5px;
    background-color: var(--font-income);
    margin-bottom: 5px;
    font-weight: 400;
    flex: 0;
}

#BalanceExpense {
    display: flex;
    justify-content: space-between;
    padding: 0 1rem;
    background-color: var(--font-expense);
    
    /* margin: 0 3rem; */
    border: 1px solid rgba(0, 0, 0, 0.25);
    border-radius: 5px;
    font-weight: 400;
    flex: 0;
}

#perc {
    padding-left: 3px;
    font-size: 1.5rem;
}

